PORT=5000
MONGO_URI=mongodb+srv://shreyasroy53_db_user:Shreyas%402006@cluster0.oqpaxfp.mongodb.net/gaming_club?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=supersecretjwtkey_change_in_production
CLIENT_URL=http://localhost:5173
NODE_ENV=development

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=ntapfiyl
CLOUDINARY_API_KEY=257128334697692
CLOUDINARY_API_SECRET=80PJjiEsswZ0XQkBolPaTGSuSIs